nav {
  background-color: #119CB2;
}

.nav-item {
  margin-right: 5px;
}

img {
  width: 48px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #15367C !important;
  transition: 0.5s;
}

.nav-link>img {
  width: 32px;
}

@media only screen and (max-width: 400px) {
  footer {
    font-size: 0.9em;
  }
}
